.tgtg-navbar {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    background-color: var(--main-color);
}

#tgtg-navbar-logo {
    width: 60px;
}

.tgtg-navbar-list {
    width: 70%;
}

.tgtg-navbar-list ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}

.tgtg-navbar-link {
    color: var(--main-color-contrast);
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 17px;
}

.link-orange {
    color: #e6640c;
}

.link-active {
    text-decoration: underline var(--main-color-contrast-light) 3px;
}

.tgtg-navbar-link:hover {
    text-decoration: underline var(--main-color-contrast-light) 3px;
}