:root {
  --main-color: #fcf8f2;
  --main-color-contrast: #114d4d;
  --main-color-contrast-light: #49ada2;
  --font-color: #212529;
  --border-radius-card: 25px;
}
body {
  overflow-x: hidden;
}
.App {
  width: 80%;
  height: 100%;
  background-color: var(--main-color);
  padding: 0 10%;
}

h1 {
  font-size: 80px;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--main-color-contrast);
}

h2 {
  font-size: 60px;
  text-transform: uppercase;
  color: var(--main-color-contrast-light);
}

h3 {
  text-transform: uppercase;
  font-size: 23px;
  font-weight: bold;
}